
.shantell-sans-font {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

body{
    font-family: "Shantell Sans", cursive;
}

a:link{
    color: rgb(255, 2, 2);
    text-decoration: none;
}

.button{
    background-color: rgb(255, 178, 178);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid rgb(255, 2, 2);
}
.button:hover{
    background-color: rgb(255, 227, 227);
}
.contact {
    color: red;
}
